@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Rubik:wght@400;600&family=Source+Sans+Pro:wght@400;700&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

:root{
    --primary-color:#93ee90;
    --font-color: #0c5477;
    --ow-color:#E5E5E5;
}
.margin-md{
    margin:1rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}
/**link**/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin-top: 1rem;
    margin-bottom:1rem; */
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: #0c5477;
}

.link-secondary {
    background-color: var(--font-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    
}

/**List**/
.list-non-bullets {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
    font-size: large;
}
/**navigation**/
.navigation {
    background-color: var(--primary-color);
    color: #0c5477 ;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-pills .left{
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
}


.navigation .link {
    color: #0c5477;
}

.navigation .link-active {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
}

/**header**/
.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-image {
    max-width: 450px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    color: var(--font-color);
    padding-top: 1rem;
}

.hero .hero-heading .heading-inverted {
    font-weight: bolder;
    color: var(--primary-color);
}
/**tech skills**/
.ow .tech-heading
{
    text-align: center;
    padding-top: 1rem;
    color: var(--font-color);
}


.content{
    text-align:center;
    padding-right: 3rem;
}

.column {
   float: left;
   width: 22%;
   padding: 30px;
 }
 
 
 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }

  
 /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
 @media screen and (max-width:200px) {
   .column {
     width: 50%;
   }
 }

.dev-img {
   max-width: 200px;
   display: block;
   margin: auto;
}
.ow p{
    font-weight: bold;
}

/* project */

.project .project-heading .heading-inverted{
    color: var(--primary-color);
}
.project .project-heading {
    text-align: left;
    font-weight:bolder;
    color: var(--font-color);
    padding-top: 1rem;
}
.project .project-img {
    max-width: 400px;
    display: block;
    margin: auto;
}



/* blog */
.ow .project-heading
{
    text-align: left;
    padding-top: 1rem;
    color: var(--font-color);
}
.ow .project-img {
    padding-top: 1rem;
    max-width: 320px;
    display: block;
    margin: auto;
    padding-right: 45px;
}

.ow .column1{
    float: left;
    width: 42%;
    padding-left: 48px;
}

/**section**/
.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--ow-color);
    color: var(--font-color);
}




  


.margin-md {
    margin: 2rem;
}

.footer{
    background-color: var(--primary-color);
    padding: 2rem;
    text-align:center;
    color:var(--font-color);
    border-top-right-radius: 1rem;
    font-weight:bolder;
}

.footer .link{
    color:white;
}

.footer ul{
    padding-inline-start:0px
}

.footer .footer-header{
    font-weight:bold;
    font-size:large;
}

.project-white{
    color:var(--font-color);
}